#output
{
    background-color: #ccc;
    width: 306px;
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: square;
}
#output li
{
    margin-left: 20px;
}
#output li.enqueued .title
{
    color: #33f;
}
#output li.uploading .title
{
    font-weight: bold;
}
#output li.success .title
{
    color: #3f3;
}
#output li.aborted .title
{
    color: #666;
}
#output li.error .title
{
    color: #f33;
}
#output li.aborted .abort, #output li.success .abort, #output li.error .abort
{
    display: none;
}
#output li.aborted .progress, #output li.success .progress, #output li.error .progress
{
    display: none;
}
#output .progress
{
    width: 100px;
    height: 10px;
    border: 1px solid #ccc;
}
#output .progress .bar
{
    width: 0;
    height: 100%;
    background-color: #00f;
}

#drop
{
    border: 3px dashed #ccc;
    width: 300px;
    height: 100px;
}
#drop span {
    font-family: Arial;
    font-size: 15px;
    display: block;
    background-color: #CCC;
    border-radius: 5px;
    margin: 40px auto;
    width: 150px;
    height: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}